
<div class="container artic adding">
  <%= render 'shared/errors' %>

  <%= form_for @bounty do |f| %>
    <p>
      <%= f.label :title%> <br>
      <%= f.text_field :title%>
    </p>
    <p>
      <%= f.label :description %> <br>
      <%= f.text_area :description, rows: 4 %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
