<div class="container artic adding">
  <%= render 'shared/errors', obj: @user %>

  <%= form_for @user do |f| %>
    <p>
      <%= f.label :username%> <br>
      <%= f.text_field :username, placeholder: "username" %>
    </p>
    <p>
      <%= f.label :email %> <br>
      <%= f.email_field :email, placeholder: "email" %>
    </p>
    <p>
      <%= f.label :password %> <br>
      <%= f.password_field :password, placeholder: "password" %>
    </p>
    <p>
      <%= f.submit(@user.new_record? ?  "Sign up" : "Update account") %>
    </p>
  <% end %>
</div>
