<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "ALPHA BLOG", root_path, class: "nav-brand text-white", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-link">
          <%= link_to 'About page', about_path, class: "text-white" %>
        </li>
        

        <!-- -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
            Articles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'View Articles', articles_path, class: "dropdown-item" %>
             <%= link_to 'Create new article', new_article_path, class: "dropdown-item" %>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>


        <li class="nav-item nav-link">
          <%= link_to 'Articles', articles_path, class: "text-white"  %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "Bloggers", users_path, class: "text-white" %>
        </li>
        
        <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
            <%= "(Admin)" if current_user.admin? %> Profile[<%=current_user.username %>]
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <%= link_to "#{current_user.username} Profile", user_path(current_user), class: "dropdown-item" %>

              <%= link_to "Delete profile", user_path(current_user), data:{turbo_method: :delete, confirm: "Are you sure?"}, class: "dropdown-item text-danger" %>

            <a class="dropdown-item" href="#">Something else here</a>

          </div>
        </li>

        <li class="nav-item nav-link">
            <%= link_to current_user.username, user_path(current_user), class: "text-white" %>
          </li>
          
          <li class="nav-item nav-link">
            <%= link_to "Log out", logout_path, class: "text-white",  data:{ "turbo-method": :delete } %>
          </li>
        <% else %>
          <li class="nav-item nav-link">
          <%= link_to "Log In", login_path, class: "text-white" %>
          </li>
          <li class="nav-item nav-link">
          <%= link_to "Sign up", signup_path, class: "text-white" %>
          </li>
        <% end %>

      
        <%# <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> %>
        <%# <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> %>
      </ul>
      <%# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>


